.container {
  background-color: #F2F2F2;
  max-width: 80%;
  width: 60%;
  height: 90%;
  top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container form {
  display: flex;
  width: 100%;
  align-items: flex-end;
  border-top: 1px solid black;
}

.button {
  width: 20%;
  max-height: 30px;
  min-height: 30px;
}

.button:enabled{
  background-color: #7184db;
  color: #FFFFFF;
  border: none;
}

.input {
  width: 80%;
  background: #FFFFFF;
  color: black;
  outline: none;
  border: none;
  padding: 0 10px;
  border: 1px solid #DDDDDD;
  min-height: 30px;
}


.input::-webkit-scrollbar {
  width: 0.25rem;
}

.input::-webkit-scrollbar-track {
  background: #FFFFFF;
}

.input::-webkit-scrollbar-thumb {
  background: #a096bd;
}


.messageHeader{
  display: flex;
  width: 100%;
  border-bottom: 1px solid black;
  max-height: 150px;
}

.imageDrop{
  height: 80px;
  width: 80px;
  background-color: azure;
  margin: 20px;
}

.contactInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main{
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.main::-webkit-scrollbar {
  width: 0.25rem;
}

.main::-webkit-scrollbar-track {
  background: #FFFFFF;
}

.main::-webkit-scrollbar-thumb {
  background: #a096bd;
}